html, body, input, select, textarea
{
    font-size: 1.05em !important;

    /* background image fit to screen size */
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
